# Data Project: Analysis of Danish import from 1997-2019 by category

## Import relevant packages

In [21]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import ipywidgets as widgets

## Reading the data of danish import

The dataset of interest contains nominal seasonally and non seasonally adjusted values of danish import in the period from 1997 to 2019 by import category. The dataset is downloaded from Statistics Denmark (Danmarks Statistik: https://www.statistikbanken.dk/UHV1) and originally named "UHV1". The values are reported in millions DKK.

In [22]:
filepath = './data/Denmark_import.xlsx' 
pd.read_excel(filepath).head(25) #Printing the first 25 lines of the dataset

,"Total external trade by imports and exports, seasonal adjustment, kind and time",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Units: m DKK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
2,Imports,Non-seasonally adjusted,TOTAL,293063.2,309786.6,310586.4,358870.9,367032.2,384709.5,369700.9,...,465013.9,514951.5,528678.1,545969.9,555243.2,573057.6,568247.7,607349.0,641205.5,646555.2
3,NaN,NaN,"Live animals, Food, Beverages And Tobacco",35808.5,36838.6,36304.6,39853.9,42939.3,44265.9,44587.8,...,61096.6,66880.6,70576.6,73749.9,75480.7,78670.4,78662.4,81915.8,85120.5,88179.2
4,NaN,NaN,"Crude Materials, Inedible, Except Fuels",11533.6,11910.5,10895.3,12183.9,12576.0,12704.5,12898.0,...,14314.6,16357.4,15993.3,17338.7,18421.1,18958.9,17667.1,19680.9,21001.1,20294.7
5,NaN,NaN,Chemicals And Related Products,31321.2,31673.7,33036.8,36461.9,38828.2,41420.9,41241.9,...,53236.4,59422.3,64155.0,67130.6,69584.4,71750.9,70561.6,76091.8,78634.1,79544.4
6,NaN,NaN,Manufactured Goods Classified Chiefly By Material,50981.1,54341.6,51765.3,59317.0,60292.5,60080.1,59477.1,...,66540.2,75340.6,74157.5,71874.9,74666.3,76724.7,77897.5,84064.0,87011.2,85405.7
7,NaN,NaN,Machinery (excl. Transport Equipment),72456.6,77797.0,82482.2,95687.7,96781.4,102951.1,94722.8,...,101294.1,110352.7,116913.3,116905.7,116724.5,126297.5,129342.5,134111.3,136802.1,148461.1
8,NaN,NaN,Transport Equipment,24327.2,27050.8,26669.8,26875.1,26725.1,30655.2,27528.3,...,31461.5,37802.3,35032.7,36220.5,38881.8,46980.2,50634.6,52492.5,54273.1,56165.5
9,NaN,NaN,Miscellaneous Manufactured Articles,48207.1,53622.8,53008.1,59792.2,63090.5,64492.2,62849.6,...,86447.1,91415.8,90827.8,88742.5,94967.8,101831.7,102948.2,106659.2,107807.4,111739.6
10,NaN,NaN,"Mineral Fuels, Lubricants And Related Materials",15294.7,10920.2,11740.7,19893.9,18301.8,17162.5,17723.2,...,36329.3,50978.1,55616.4,60397.4,49774.7,38394.2,30430.8,35783.5,43180.5,43953.6
11,NaN,NaN,"Vessels, aircraft etc.",3133.1,5631.0,4684.2,8805.5,7497.8,10976.9,8672.3,...,14293.5,6401.8,5405.1,13609.9,16742.1,13449.2,10103.1,16550.4,27375.1,12811.5
12,NaN,Seasonally adjusted,TOTAL,293917.5,309728.3,308891.8,358948.7,367918.6,385888.9,370786.2,...,463109.7,514033.2,528737.5,547238.2,556379.3,572530.0,566441.6,607376.6,642568.8,648071.0
13,NaN,NaN,"Live animals, Food, Beverages And Tobacco",35863.5,36930.0,36141.7,39801.5,42985.6,44429.1,44772.1,...,60870.9,66643.7,70582.7,73915.5,75628.8,78695.5,78288.4,81839.7,85333.9,88324.0
14,NaN,NaN,"Crude Materials, Inedible, Except Fuels",11513.4,11908.6,10826.0,12194.3,12636.8,12708.4,12881.1,...,14279.4,16393.1,16228.3,17266.2,18346.2,18770.6,17610.1,19721.4,21226.9,20289.5
15,NaN,NaN,Chemicals And Related Products,31422.6,31654.6,32860.9,36495.9,38896.2,41581.4,41388.2,...,53015.5,59325.3,64075.3,67420.7,69798.1,71638.8,70318.6,75998.9,78746.6,79780.5
16,NaN,NaN,Manufactured Goods Classified Chiefly By Material,51249.1,54344.1,51455.0,59423.7,60495.0,60330.3,59775.2,...,66241.9,75199.6,74129.3,72138.4,74959.4,76740.2,77640.0,84089.8,87200.5,85646.9
17,NaN,NaN,Machinery (excl. Transport Equipment),72680.8,77758.1,82001.7,95744.7,97016.0,103300.8,94965.0,...,100862.0,110206.4,116796.1,117225.1,116919.1,126245.3,129068.4,134153.0,137072.5,148864.8
18,NaN,NaN,Transport Equipment,24475.4,26973.7,26471.4,26810.5,26803.1,30659.9,27619.4,...,31146.8,37725.4,35091.0,36294.5,39065.2,46882.0,50469.4,52589.3,54335.6,56363.2
19,NaN,NaN,Miscellaneous Manufactured Articles,48284.7,53607.8,52710.4,59779.6,63286.3,64739.5,62989.7,...,86070.3,91160.0,90812.8,88971.1,95146.0,101715.2,102513.4,106651.0,108097.0,112036.9
20,NaN,NaN,"Mineral Fuels, Lubricants And Related Materials",15294.7,10920.2,11740.7,19893.9,18301.8,17162.5,17723.2,...,36329.3,50978.1,55616.4,60397.4,49774.7,38394.2,30430.8,35783.5,43180.5,43953.6
21,NaN,NaN,"Vessels, aircraft etc.",3133.1,5631.0,4684.2,8805.5,7497.8,10976.9,8672.3,...,14293.5,6401.8,5405.1,13609.9,16742.1,13449.2,10103.1,16550.4,27375.1,12811.5

## Data cleaning

The two first rows of the dataset are empty why they are removed during the importing process. Moreover, the two left columns are removed as well. Lastly, all rows from 10 to infinity are removed as we only want to consider the development of non seasonally adjusted values. The last line of code print out the first five rows after our adjustments.

In [23]:
imp = pd.read_excel(filepath, skiprows = 2) 
Dropped = ['Unnamed: 0', 'Unnamed: 1']
imp.drop(Dropped, axis = 1, inplace = True) 
imp.drop(imp.index[10:], inplace=True)
imp.head(5)

,Unnamed: 2,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,TOTAL,293063.2,309786.6,310586.4,358870.9,367032.2,384709.5,369700.9,400124.5,436393.8,...,465013.9,514951.5,528678.1,545969.9,555243.2,573057.6,568247.7,607349.0,641205.5,646555.2
1,"Live animals, Food, Beverages And Tobacco",35808.5,36838.6,36304.6,39853.9,42939.3,44265.9,44587.8,46624.7,49995.1,...,61096.6,66880.6,70576.6,73749.9,75480.7,78670.4,78662.4,81915.8,85120.5,88179.2
2,"Crude Materials, Inedible, Except Fuels",11533.6,11910.5,10895.3,12183.9,12576.0,12704.5,12898.0,12733.7,12369.3,...,14314.6,16357.4,15993.3,17338.7,18421.1,18958.9,17667.1,19680.9,21001.1,20294.7
3,Chemicals And Related Products,31321.2,31673.7,33036.8,36461.9,38828.2,41420.9,41241.9,44367.5,49142.7,...,53236.4,59422.3,64155.0,67130.6,69584.4,71750.9,70561.6,76091.8,78634.1,79544.4
4,Manufactured Goods Classified Chiefly By Material,50981.1,54341.6,51765.3,59317.0,60292.5,60080.1,59477.1,66125.4,72053.0,...,66540.2,75340.6,74157.5,71874.9,74666.3,76724.7,77897.5,84064.0,87011.2,85405.7

### Renaming the first column from "Unnamed: 2" to "year"

In [24]:
imp.rename(columns ={'Unnamed: 2':'Year'}, inplace=True)
imp.head(2)

,Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,TOTAL,293063.2,309786.6,310586.4,358870.9,367032.2,384709.5,369700.9,400124.5,436393.8,...,465013.9,514951.5,528678.1,545969.9,555243.2,573057.6,568247.7,607349.0,641205.5,646555.2
1,"Live animals, Food, Beverages And Tobacco",35808.5,36838.6,36304.6,39853.9,42939.3,44265.9,44587.8,46624.7,49995.1,...,61096.6,66880.6,70576.6,73749.9,75480.7,78670.4,78662.4,81915.8,85120.5,88179.2

### Transposing the data

We transpose the dataset as we want to compare categories within years. Hence we obtain a dataset with categories on the horizontal axis and years on the vertical axis.

In [25]:
imp_t=imp.T
imp=imp_t
imp.head(5)

,0,1,2,3,4,5,6,7,8,9
Year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
1997,293063,35808.5,11533.6,31321.2,50981.1,72456.6,24327.2,48207.1,15294.7,3133.1
1998,309787,36838.6,11910.5,31673.7,54341.6,77797,27050.8,53622.8,10920.2,5631
1999,310586,36304.6,10895.3,33036.8,51765.3,82482.2,26669.8,53008.1,11740.7,4684.2
2000,358871,39853.9,12183.9,36461.9,59317,95687.7,26875.1,59792.2,19893.9,8805.5

### Removing the top horizontal index

We remove the top index as transposing a pandas dataframe also transposes the index numbers. Thus the danish import categories define the variable names. 

Note, running this code more than once will replace the category names with the observations of 1997.

In [26]:
imp.columns = imp.iloc[0]
imp.drop(imp.index[0], inplace=True)
imp.head(5)

Year,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
1997,293063,35808.5,11533.6,31321.2,50981.1,72456.6,24327.2,48207.1,15294.7,3133.1
1998,309787,36838.6,11910.5,31673.7,54341.6,77797,27050.8,53622.8,10920.2,5631
1999,310586,36304.6,10895.3,33036.8,51765.3,82482.2,26669.8,53008.1,11740.7,4684.2
2000,358871,39853.9,12183.9,36461.9,59317,95687.7,26875.1,59792.2,19893.9,8805.5
2001,367032,42939.3,12576,38828.2,60292.5,96781.4,26725.1,63090.5,18301.8,7497.8

## Reading the dataset of the danish consumer price index (CPI)

The dataset of danish consumer price index (CPI) covers the period of 1980 to 2019. The dataset is downloaded from Statistics Denmark (Danmarks Statistik: https://www.statistikbanken.dk/PRIS112) and originally named "PRIS112". The CPI is indexed with year 2015 = 100

In [27]:
filepath1 = './data/Denmark_CPI.xlsx' 
pd.read_excel(filepath1).head(25) #Printing the first 25 lines of the dataset

,Consumer price index (2015=100) by main figures and time,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Units: per cent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
2,"Average, yearly",34.8,38.9,42.8,45.7,48.6,50.9,52.8,54.9,57.4,...,93.3,95.9,98.2,99.0,99.6,100.0,100.3,101.4,102.2,103.0

Like we did with the danish import dataset we drop unnecessary rows and columns. Thus we drop the first two rows and the first column.

In [28]:
cpi = pd.read_excel(filepath1, skiprows = 2) 
Dropped = ['Unnamed: 0']
cpi.drop(Dropped, axis = 1, inplace = True) 
cpi.head()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,34.8,38.9,42.8,45.7,48.6,50.9,52.8,54.9,57.4,60.1,...,93.3,95.9,98.2,99,99.6,100,100.3,101.4,102.2,103

Moreover, as we only have data on danish import from 1997 to 2019 we drop the years from 1980 to 1996.

In [29]:
cpi.drop(cpi.loc[:, '1980':'1996'], inplace = True, axis = 1) 
cpi.head()

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,71,72.3,74.1,76.2,78,79.9,81.6,82.5,84,85.6,...,93.3,95.9,98.2,99,99.6,100,100.3,101.4,102.2,103

In order to merge the danish import data with the CPI data we have to transpose the CPI dataset, as we need to have an uniqe key in both datasets. In our case, "year" is the identifier.

In [30]:
cpi_t=cpi.T
cpi = cpi_t
cpi.head()

         0
1997  71.0
1998  72.3
1999  74.1
2000  76.2
2001  78.0

We rename the "0"-column such it is called "CPI" instead as this column indicates the consumper price index data.

In [31]:
cpi.rename(columns={0:'CPI'}, inplace=True)
cpi.index.names = ['Year']
cpi.head()

       CPI
Year
1997  71.0
1998  72.3
1999  74.1
2000  76.2
2001  78.0

## Re-indexing CPI such that 1997 = 100

The CPI data is indexed with 2015 as base value. We want to change this such that 1997 becomes the new index base (1997 = 100).

In [32]:
cpi['CPI'] = cpi['CPI'] /cpi['CPI'][0]

We are now ready to merge the danish import data and the CPI data into one dataset.

In [33]:
merged = pd.concat([imp, cpi], axis=1, sort=False)
merged

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc.",CPI
Year,,,,,,,,,,,
1997,293063,35808.5,11533.6,31321.2,50981.1,72456.6,24327.2,48207.1,15294.7,3133.1,1.000000
1998,309787,36838.6,11910.5,31673.7,54341.6,77797,27050.8,53622.8,10920.2,5631,1.018310
1999,310586,36304.6,10895.3,33036.8,51765.3,82482.2,26669.8,53008.1,11740.7,4684.2,1.043662
2000,358871,39853.9,12183.9,36461.9,59317,95687.7,26875.1,59792.2,19893.9,8805.5,1.073239
2001,367032,42939.3,12576,38828.2,60292.5,96781.4,26725.1,63090.5,18301.8,7497.8,1.098592
2002,384710,44265.9,12704.5,41420.9,60080.1,102951,30655.2,64492.2,17162.5,10976.9,1.125352
2003,369701,44587.8,12898,41241.9,59477.1,94722.8,27528.3,62849.6,17723.2,8672.3,1.149296
2004,400124,46624.7,12733.7,44367.5,66125.4,97795.5,35330.9,64473.9,21519.3,11153.7,1.161972
2005,436394,49995.1,12369.3,49142.7,72053,105039,40995.6,70203.3,30033.4,6562.3,1.183099
2006,499616,55774.4,14774.6,54394.5,84747.9,120880,47543.7,81071.4,32806.4,7623.9,1.205634
2007,528838,59361.4,15862.2,56365.3,91822.7,131098,49129.1,88320.2,30010.1,6869.3,1.226761
2008,552494,64795.3,15472,60037.9,92624,126803,45459.1,87535.1,45738.4,14028.4,1.269014
2009,428266,55520.5,11976.3,48879.7,60669.2,95001.6,25987.7,78415.1,29875.1,21940.8,1.284507
2010,465014,61096.6,14314.6,53236.4,66540.2,101294,31461.5,86447.1,36329.3,14293.5,1.314085
2011,514952,66880.6,16357.4,59422.3,75340.6,110353,37802.3,91415.8,50978.1,6401.8,1.350704
2012,528678,70576.6,15993.3,64155,74157.5,116913,35032.7,90827.8,55616.4,5405.1,1.383099
2013,545970,73749.9,17338.7,67130.6,71874.9,116906,36220.5,88742.5,60397.4,13609.9,1.394366
2014,555243,75480.7,18421.1,69584.4,74666.3,116724,38881.8,94967.8,49774.7,16742.1,1.402817
2015,573058,78670.4,18958.9,71750.9,76724.7,126298,46980.2,101832,38394.2,13449.2,1.408451
2016,568248,78662.4,17667.1,70561.6,77897.5,129342,50634.6,102948,30430.8,10103.1,1.412676
2017,607349,81915.8,19680.9,76091.8,84064,134111,52492.5,106659,35783.5,16550.4,1.428169
2018,641206,85120.5,21001.1,78634.1,87011.2,136802,54273.1,107807,43180.5,27375.1,1.439437
2019,646555,88179.2,20294.7,79544.4,85405.7,148461,56165.5,111740,43953.6,12811.5,1.450704

The reason why we want to include the consumer price into our project is to transform the nominal prices in our import data, such it become real prices. Hence, we divide the CPI column with all the columns of the merged dataset.

In [34]:
imp_real = merged.copy()
imp_real.drop('CPI', axis=1)
imp_real=imp_real.div(merged['CPI'], axis=0)
imp_real

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc.",CPI
Year,,,,,,,,,,,
1997,293063,35808.5,11533.6,31321.2,50981.1,72456.6,24327.2,48207.1,15294.7,3133.1,1.0
1998,304216,36176.2,11696.3,31104.2,53364.5,76398.2,26564.4,52658.6,10723.8,5529.75,1.0
1999,297593,34785.8,10439.5,31654.7,49599.7,79031.5,25554.1,50790.5,11249.5,4488.23,1.0
2000,334381,37134.2,11352.5,33973.7,55269.1,89157.8,25041.1,55711.9,18536.3,8204.6,1.0
2001,334093,39085.8,11447.4,35343.6,54881.6,88095.9,24326.7,57428.5,16659.3,6824.92,1.0
2002,341857,39335.2,11289.4,36807.1,53387.8,91483.5,27240.5,57308.5,15250.8,9754.19,1.0
2003,321676,38795.8,11222.5,35884.5,51750.9,82418.1,23952.3,54685.3,15420.9,7545.75,1.0
2004,344350,40125.5,10958.7,38182.9,56907.9,84163.4,30406,55486.6,18519.6,9598.94,1.0
2005,368857,42257.8,10455,41537.3,60901.9,88782.7,34651,59338.5,25385.4,5546.71,1.0
2006,414401,46261.5,12254.6,45116.9,70293.2,100262,39434.6,67243.8,27210.9,6323.56,1.0
2007,431085,48388.7,12930.2,45946.5,74849.7,106865,40047.8,71994.7,24462.9,5599.54,1.0
2008,435372,51059.6,12192.1,47310.7,72988.9,99922.5,35822.4,68978.8,36042.5,11054.6,1.0
2009,333409,43223.2,9323.65,38053.3,47231.5,73959.6,20231.7,61046.8,23258,17081.1,1.0
2010,353869,46493.7,10893.2,40512.2,50636.2,77083.4,23941.8,65785,27646.1,10877.2,1.0
2011,381247,49515.4,12110.3,43993.6,55778.8,81700.1,27987.1,67680.1,37741.9,4739.6,1.0
2012,382242,51027.9,11563.4,46385,53616.9,84530,25329.1,65669.8,40211.5,3907.96,1.0
2013,391554,52891.3,12434.8,48144.2,51546.6,83841.5,25976.3,63643.6,43315.3,9760.64,1.0
2014,395806,53806.5,13131.5,49603.3,53226,83207.2,27716.9,67697.9,35482,11934.6,1.0
2015,406871,55856,13460.8,50943.1,54474.5,89671.2,33355.9,72300.5,27259.9,9548.93,1.0
2016,402249,55683.3,12506.1,49948.9,55141.8,91558.5,35843,72874.6,21541.2,7151.75,1.0
2017,425264,57357.2,13780.5,53279.3,58861.4,93904.4,36755.1,74682.5,25055.5,11588.5,1.0
2018,445456,59134.6,14589.8,54628.4,60448.1,95038.6,37704.4,74895.6,29998.2,19017.9,1.0
2019,445684,60783.7,13989.6,54831.6,58871.9,102337,38716,77024.4,30298.1,8831.23,1.0

As we have no further use of the "CPI" column, we remove it from the dataset.

In [35]:
imp_real.drop(['CPI'], axis = 1, inplace = True) 
imp_real

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
Year,,,,,,,,,,
1997,293063,35808.5,11533.6,31321.2,50981.1,72456.6,24327.2,48207.1,15294.7,3133.1
1998,304216,36176.2,11696.3,31104.2,53364.5,76398.2,26564.4,52658.6,10723.8,5529.75
1999,297593,34785.8,10439.5,31654.7,49599.7,79031.5,25554.1,50790.5,11249.5,4488.23
2000,334381,37134.2,11352.5,33973.7,55269.1,89157.8,25041.1,55711.9,18536.3,8204.6
2001,334093,39085.8,11447.4,35343.6,54881.6,88095.9,24326.7,57428.5,16659.3,6824.92
2002,341857,39335.2,11289.4,36807.1,53387.8,91483.5,27240.5,57308.5,15250.8,9754.19
2003,321676,38795.8,11222.5,35884.5,51750.9,82418.1,23952.3,54685.3,15420.9,7545.75
2004,344350,40125.5,10958.7,38182.9,56907.9,84163.4,30406,55486.6,18519.6,9598.94
2005,368857,42257.8,10455,41537.3,60901.9,88782.7,34651,59338.5,25385.4,5546.71
2006,414401,46261.5,12254.6,45116.9,70293.2,100262,39434.6,67243.8,27210.9,6323.56
2007,431085,48388.7,12930.2,45946.5,74849.7,106865,40047.8,71994.7,24462.9,5599.54
2008,435372,51059.6,12192.1,47310.7,72988.9,99922.5,35822.4,68978.8,36042.5,11054.6
2009,333409,43223.2,9323.65,38053.3,47231.5,73959.6,20231.7,61046.8,23258,17081.1
2010,353869,46493.7,10893.2,40512.2,50636.2,77083.4,23941.8,65785,27646.1,10877.2
2011,381247,49515.4,12110.3,43993.6,55778.8,81700.1,27987.1,67680.1,37741.9,4739.6
2012,382242,51027.9,11563.4,46385,53616.9,84530,25329.1,65669.8,40211.5,3907.96
2013,391554,52891.3,12434.8,48144.2,51546.6,83841.5,25976.3,63643.6,43315.3,9760.64
2014,395806,53806.5,13131.5,49603.3,53226,83207.2,27716.9,67697.9,35482,11934.6
2015,406871,55856,13460.8,50943.1,54474.5,89671.2,33355.9,72300.5,27259.9,9548.93
2016,402249,55683.3,12506.1,49948.9,55141.8,91558.5,35843,72874.6,21541.2,7151.75
2017,425264,57357.2,13780.5,53279.3,58861.4,93904.4,36755.1,74682.5,25055.5,11588.5
2018,445456,59134.6,14589.8,54628.4,60448.1,95038.6,37704.4,74895.6,29998.2,19017.9
2019,445684,60783.7,13989.6,54831.6,58871.9,102337,38716,77024.4,30298.1,8831.23

### Calculating yearly growth rate in percentage

To inspect the evolution of the import categories the following code calculates the percentages change over the years by categories. This produce an empty row for the year 1997, which is removed from the dataset.

In [36]:
imp_perc = imp_real.pct_change()*100
imp_perc.drop(imp_perc.index[0], inplace=True)
imp_perc.head()

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
Year,,,,,,,,,,
1998,3.805746,1.026903,1.411022,-0.692864,4.675073,5.439892,9.196329,9.234175,-29.885203,76.494559
1999,-2.177244,-3.843504,-10.745671,1.769880,-7.054921,3.446899,-3.803397,-3.547644,4.901932,-18.834776
2000,12.361893,6.751112,8.745268,7.325905,11.430397,12.812992,-2.007335,9.689620,64.774186,82.802373
2001,-0.086013,5.255428,0.836223,4.032331,-0.701090,-1.191080,-2.852950,3.081280,-10.125964,-16.815924
2002,2.323778,0.638038,-1.380483,4.140605,-2.721878,3.845317,11.977982,-0.209075,-8.455013,42.920221

## Descriptive statistics of yearly growth rate data

In order to examine the data we print the statistics of the dataset

In [37]:
imp_perc.describe()

,TOTAL,"Live animals, Food, Beverages And Tobacco","Crude Materials, Inedible, Except Fuels",Chemicals And Related Products,Manufactured Goods Classified Chiefly By Material,Machinery (excl. Transport Equipment),Transport Equipment,Miscellaneous Manufactured Articles,"Mineral Fuels, Lubricants And Related Materials","Vessels, aircraft etc."
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,2.194335,2.560863,1.309612,2.761513,1.225525,1.932511,3.328929,2.315270,6.041011,16.938368
std,7.217474,5.024299,9.328010,5.966453,10.067999,8.162310,14.685998,5.857243,25.512116,55.331799
min,-23.419831,-15.347495,-23.527346,-19.567236,-35.289510,-25.983081,-43.522305,-11.499154,-35.470492,-56.426088
25%,0.103610,1.202753,-4.415498,1.787062,-2.693292,-0.265377,-2.641546,-2.280000,-10.119226,-21.978129
50%,2.615906,3.263165,1.123623,3.411707,2.520725,3.455308,2.632901,2.661605,5.722641,1.278097
75%,6.032891,5.299347,7.120345,6.447544,6.950164,5.864069,13.348228,6.906164,19.511930,60.157557
max,12.361893,9.474504,17.213094,8.784925,15.420353,12.929966,26.943807,13.322375,64.774186,149.762650

We note that there are 22 observations of each variable, which corresponds to the number of years, hence we have no empty cells. Moreover each category has on average positive growth rates over the years. The total growth rate of danish import from 1998 to 2019 has on average a growth rate of 2,2% and the categories which experience the highest and lowest average growth rate are "Vessels, aircraft etc." and "Manufactured Goods Classified Chiefly By Materia" with average growth rates of 16,9% and 1,2%, respectively.

### Checking the types of variables

In [38]:
imp_perc.dtypes

TOTAL                                                float64
Live animals, Food, Beverages And Tobacco            float64
Crude Materials, Inedible, Except Fuels              float64
Chemicals And Related Products                       float64
Manufactured Goods Classified Chiefly By Material    float64
Machinery (excl. Transport Equipment)                float64
Transport Equipment                                  float64
Miscellaneous Manufactured Articles                  float64
Mineral Fuels, Lubricants And Related Materials      float64
Vessels, aircraft etc.                               float64
dtype: object

Throughout the data analysis, pandas has not manipulated the "year" category, why a new variable called "time" is added to the dataset. We use this variable to plot the dataset.

In [39]:
imp_perc['time'] = np.arange(1998,2020)

## Visualisation of the data

In order to illustrate the evolution of the danish import data, the following blok of code visualizes the percentage growth of the years by category in an interactive line chart. The x-axis represents years and the y-axis represents the percentage change in growth rate. Moreover, the plot enables the user to show growth rates for each category as well as adjusting the time period for which the data is visualised.

In [40]:
from matplotlib import cm

def _plot_timeseries(df, x, y):
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    I = (df.time >= y[0]) & (df.time <= y[1])
    series = df.loc[I,[x]]
    years = np.arange(y[0],y[1]+1)
    ax.plot(years, series, )
    ax.set_ylabel('Percentage change (%)')
    ax.set_xlabel('Years')
    plt.grid()
    plt.xticks(np.arange(y[0],y[1]+1, 2.0))
    
    return fig, ax
    
def plot_timeseries(df):
    varlist = [col for col in imp_perc.columns[:-1]]

    widgets.interact(_plot_timeseries,
    df = widgets.fixed(df),
    x = widgets.Dropdown(
        description='Variable', 
        options=varlist, 
        value='TOTAL'),
    y=widgets.IntRangeSlider(
        description="Years",
        min=1998,
        max=2019,
        value=[1998, 2019],
        continuous_update=False,)

    ); 

    
plot_timeseries(imp_perc)

interactive(children=(Dropdown(description='Variable', options=('TOTAL', 'Live animals, Food, Beverages And To…

We note that the largest downfall in total danish import was in the year of 2009, which is the year of the financial crises. After 2009 all the years to follow had positive growth rates.